<div class="container">
    <div class="text-danger">
        <h1 class="text-center m-3">About page</h1>
    </div>
    <div class="container" style="display: flex; flex-direction: row; flex-wrap: wrap;">

        <div class="card m-2 p-2" style="width: 30%;">
            <h3 class="text-center">Why we develop this?</h3>
            <p>&nbsp; &nbsp; &nbsp; Myself, SRIHARI MADDINENI, being a curios learner of all time, wanted to learn angular, so as a part of
                my learning, designed this project</p>

        </div>

        <div class="card m-2 p-2" style="width: 30%;">
            <h3 class="text-center">References</h3>
            <p> &nbsp;A video tutorial from CodewithHarry angular has been taken as Reference</p>
            <iframe src="https://www.youtube.com/embed/0LhBvp8qpro?si=OecYoYrbxYsuZZSK"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="card m-2 p-2" style="width: 30%;">
            <h3 class="text-center">Topics involved</h3>
            <ul>
                <li>Routing</li>
                <li>Creating components</li>
                <li>NgForms module</li>
                <li>NgIf ng-template</li>
                <li>ngfor loop</li>
                <li>two way data binding</li>
                <li>input elements</li>
                <li>event emitter</li>
                <li>parent and child components</li>                
            </ul>

        </div>


    </div>
</div>